@using Fishare.Model
@using Microsoft.AspNetCore.Mvc.Rendering
@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<link href="~/css/Profile/Profile.css" rel="stylesheet"/>
<div id="ProfilePage" class="container">
    <div class="Top-Content">
        <div class="row">
            <div class="col-md-8">
                <div class="UserImage">
                    <img src="~/images/Layout/user.png" class="UserPhoto" />
                </div>
                <div class="row AccountInfoText">

                    <div class="col-md-5">
                        <h5>
                            <strong class="text-primary">Name:</strong> @Model.ProfileInfoViewModel.FirstName @Model.ProfileInfoViewModel.LastName
                        </h5>
                        <h5>
                            <strong class="text-primary">Bio:</strong> @Model.ProfileInfoViewModel.Bio
                        </h5>
                    </div>
                    <div class="col-md-2">
                        <h5>
                            <strong class="text-primary">Posts:</strong> @Model.ProfileInfoViewModel.Posts.Count.ToString()
                        </h5>
                        <h5>
                            <strong class="text-primary">Friends:</strong> @Model.ProfileInfoViewModel.TotalFriends.ToString()
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-10">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-3 ActionButtons">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#AccountSettings">Settings</button>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-3 ActionButtons">
                        <Button type="button" class="btn btn-warning" data-toggle="modal" data-target="#FriendsPage">Friends</Button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="User-Content">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#Posts">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Statistics">Statistics</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="Posts">
                <div class="row">
                    @foreach (Post post in Model.ProfileInfoViewModel.Posts)
                    {
                        <div id="PostId:@post.PostID" class="card border-primary mb-3 PreviewPost" style="min-width: 20rem;">
                            <div class="card-header">
                                <h4 class="PostTitle">@post.Title</h4> <small class="PostDate text-mute">Upload date: @post.DateTime</small>
                            </div>
                            <div class="card-body">
                                <img class="PreviewPostImage" src="~@post.PrimaryPhoto" />
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="Statistics">
                <h4>Statics</h4>
            </div>
        </div>
    </div>
</div>

@*Accountsettings Modal*@
@Html.Partial("ProfileSettings", Model.ProfileSettingsViewModel);

    @*Friends Modal*@
    <div id="FriendsPage" class="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Friends Page</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body col-md-10 offset-md-1 col-sm-12">
                    <div class="ContentBlock container">
                        <h4>Friends Requests</h4>
                        <div class="PageBorder"></div>
                        <div class="col-md-12">
                            <div class="row FRContent">
                                <div class="col-2">
                                    <img src="~/images/Layout/user.png" class="FriendPicture"/>
                                </div>
                                <div class="col-5">
                                    <h5>Burkan</h5>
                                </div>
                                <div class="col-5 FRActionButtons">
                                    <button type="button" class="btn btn-success">Accept</button>
                                    <button type="button" class="btn btn-warning">Decline</button>
                                    <button type="button" class="btn btn-danger">Block</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ContentBlock container">
                        <h4>Friends</h4>
                        <div class="PageBorder"></div>
                        <div class="col-md-12">
                            <div class="row FRContent">
                                <div class="col-2">
                                    <img src="~/images/Layout/user.png" class="FriendPicture"/>
                                </div>
                                <div class="col-5">
                                    <h5>Burkan</h5>
                                </div>
                                <div class="col-5">
                                    <button type="button" class="btn btn-info">View</button>
                                    <button type="button" class="btn btn-warning">Remove</button>
                                    <button type="button" class="btn btn-danger">Block</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ContentBlock container">
                        <h4>Search Friends</h4>
                        <div class="PageBorder"></div>
                        <div class="col-md-12">
                            <div class="row SearchFriends">
                                <div class="col-3">
                                    <P>Search For Friends:</P>
                                </div>
                                <div class="col-7">
                                    <input class="SearchBalk" type="text"/>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row FRContent">
                                <div class="col-2">
                                    <img src="~/images/Layout/user.png" class="FriendPicture"/>
                                </div>
                                <div class="col-5">
                                    <h5>Burkan</h5>
                                </div>
                                <div class="col-5">
                                    <button type="button" class="btn btn-success ml-auto">Send</button>
                                    <button type="button" class="btn btn-danger ml-auto">Block</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="~/js/account/profile/profile.js"></script>