@using Fishare.Cookies
@using Fishare.Model
@model ProfileFriendsViewModal


<div id="FriendsPageContainer">
<div id="FriendsPage" class="modal">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
    <h5 class="modal-title">Friends Page</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body col-md-10 offset-md-1 col-sm-12">
@if (Model.UserId.ToString() != CookieClaims.GetCookieID(User))
{
    if (Model.AcceptedFriends.Count != 0)
    {
        <div class="ContentBlock container">
            <h4>Friends</h4>
            <div class="PageBorder"></div>
            @foreach (Friend Friend in Model.AcceptedFriends)
            {
                <div class="col-md-12">
                    <div class="row FRContent">
                        <div class="col-2">
                            @if (string.IsNullOrEmpty(Friend.FriendEntity.PpPath))
                            {
                                <img src="~/images/Layout/user.png" class="FriendPicture"/>
                            }
                            else
                            {
                                <img src="~@Friend.FriendEntity.PpPath" class="FriendPicture"/>
                            }
                        </div>
                        <div class="col-5">
                            <h5>@Friend.FriendEntity.FirstName @Friend.FriendEntity.LastName</h5>
                        </div>
                        <div class="col-5">
                            @if (Friend.FriendEntity.UserId.ToString() == CookieClaims.GetCookieID(User))
                            {
                                <button type="button" class="btn btn-warning FriendActionButton" value="@Friend.UserId+RemoveOwn">Remove</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-info FriendActionButton" value="@Friend.FriendEntity.UserId+View">View</button>
                            }
                        </div>
                    </div>
                </div>
            }

        </div>
    }
    else
    {
        <div class="ContentBlock container">
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">Oops no friends!</h4>
                <p class="mb-0">Oops seems like this person doesn't have any friends yet! Maybe he/she would like you to be there new friend.</p>
            </div>
        </div>
    }
}
else
{
    if (Model.RequestingFriends.Count != 0)
    {
        <div class="ContentBlock container">
            <h4>Friends Requests</h4>
            <div class="PageBorder"></div>
            @foreach (Friend Request in Model.RequestingFriends)
            {
                <div class="col-md-12">
                    <div class="row FRContent">
                        <div class="col-2">
                            @if (string.IsNullOrEmpty(Request.FriendEntity.PpPath))
                            {
                                <img src="~/images/Layout/user.png" class="FriendPicture"/>
                            }
                            else
                            {
                                <img src="~@Request.FriendEntity.PpPath" class="FriendPicture"/>
                            }
                        </div>
                        <div class="col-5">
                            <h5>@Request.FriendEntity.FirstName @Request.FriendEntity.LastName</h5>
                        </div>
                        @if (Request.ActionId == Request.UserId)
                        {
                            <div class="col-5 FRActionButtons">
                                <button type="button" class="btn btn-danger ml-auto FriendActionButton" value="@Request.FriendEntity.UserId+Cancel">Cancel</button>
                            </div>
                        }
                        else
                        {
                            <div class="col-5 FRActionButtons">
                                <button type="button" class="btn btn-success FriendActionButton" value="@Request.FriendEntity.UserId+Accept">Accept</button>
                                <button type="button" class="btn btn-warning FriendActionButton" value="@Request.FriendEntity.UserId+Decline">Decline</button>
                                <button type="button" class="btn btn-danger FriendActionButton" value="@Request.FriendEntity.UserId+Block">Block</button>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
    if (Model.AcceptedFriends.Count != 0)
    {
        <div class="ContentBlock container">
            <h4>Friends</h4>
            <div class="PageBorder"></div>
            @foreach (Friend Friend in Model.AcceptedFriends)
            {
                <div class="col-md-12">
                    <div class="row FRContent">
                        <div class="col-2">
                            @if (string.IsNullOrEmpty(Friend.FriendEntity.PpPath))
                            {
                                <img src="~/images/Layout/user.png" class="FriendPicture"/>
                            }
                            else
                            {
                                <img src="~@Friend.FriendEntity.PpPath" class="FriendPicture"/>
                            }
                        </div>
                        <div class="col-5">
                            <h5>@Friend.FriendEntity.FirstName @Friend.FriendEntity.LastName</h5>
                        </div>
                        <div class="col-5">
                            <button type="button" class="btn btn-info" onclick="window.location='@Url.Action("Profile", new { Id = Friend.FriendEntity.UserId})'">View</button>
                            <button type="button" class="btn btn-warning FriendActionButton" value="@Friend.FriendEntity.UserId+Remove">Remove</button>
                            <button type="button" class="btn btn-danger FriendActionButton" value="@Friend.FriendEntity.UserId+Block">Block</button>
                        </div>
                    </div>
                </div>
            }

        </div>
    }
    if (Model.BlockedFriends.Count != 0)
    {
        <div class="ContentBlock container">
            <h4>Blocked users</h4>
            <div class="PageBorder"></div>
            @foreach (Friend Friend in Model.BlockedFriends)
            {
                <div class="col-md-12">
                    <div class="row FRContent">
                        <div class="col-2">
                            @if (string.IsNullOrEmpty(Friend.FriendEntity.PpPath))
                            {
                                <img src="~/images/Layout/user.png" class="FriendPicture"/>
                            }
                            else
                            {
                                <img src="~@Friend.FriendEntity.PpPath" class="FriendPicture"/>
                            }
                        </div>
                        <div class="col-5">
                            <h5>@Friend.FriendEntity.FirstName @Friend.FriendEntity.LastName</h5>
                        </div>
                        <div class="col-5">
                            <button type="button" class="btn btn-info FriendActionButton" value="@Friend.FriendEntity.UserId+Unblock">Unblock</button>
                        </div>
                    </div>
                </div>
            }

        </div>
    }
    <div class="ContentBlock container">
        <h4>Search Friends</h4>
        <div class="PageBorder"></div>
        <div class="col-md-12">
            <div class="row SearchFriends">
                <div class="col-3">
                    <P>Search For Friends:</P>
                </div>
                <div class="col-7">
                    <input id="FriendsSearchBox" class="SearchBalk" type="text"/>
                </div>
                <div class="col-2">
                    <button id="SubitSearchBox" type="button" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
        @if (Model.SearchedFriends != null)
        {
            foreach (User FriendResult in Model.SearchedFriends)
            {
                <div id="FriendId=@FriendResult.UserId" class="col-md-12">
                    <div class="row FRContent">
                        <div class="col-2">
                            @if (string.IsNullOrEmpty(FriendResult.PpPath))
                            {
                                <img src="~/images/Layout/user.png" class="FriendPicture"/>
                            }
                            else
                            {
                                <img src="~@FriendResult.PpPath" class="FriendPicture"/>
                            }
                        </div>
                        <div class="col-5">
                            <h5>@FriendResult.FirstName @FriendResult.LastName</h5>
                        </div>
                        <div class="col-5">
                            <button type="button" class="btn btn-success ml-auto FriendActionButton" value="@FriendResult.UserId+Send">Send</button>
                            <button type="button" class="btn btn-danger ml-auto FriendActionButton" value="@FriendResult.UserId+Block">Block</button>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
        }
    </div>
    <p class="text-danger">@ViewData["ErrorFriends"]</p>
}
</div>
</div>
</div>
</div>

</div>

