@using Fishare.Cookies
@using Fishare.Model
@model TimeLineViewModel

<link href="~/css/Timeline/Timeline.css" rel="stylesheet"/>
<div class="col-md-10 offset-1">
    <div class="col-md-8 offset-2">
        @foreach (Post post in Model.Posts)
        {
            <div class="col-md-12 PostContent border border-primary">
                <div class="col-md-12">
                    <div class="row PostTitle">
                        <div class="col-md-2">
                            @if (String.IsNullOrEmpty(post.UserProfileImage))
                            {
                                <img src="~/images/Layout/user.png" class="PostUserImage"/>
                            }
                            else
                            {
                                <img src="~/images/Uploads/ProfileImages/@post.UserProfileImage" class="PostUserImage rounded-circle border border-info"/>
                            }
                            
                        </div>
                        <div class="col-md-8">
                            <h4 class="text-left">@post.UserName</h4>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-info"><i class="fas fa-cogs"></i></button>
                        </div>
                    </div>
                </div>
                <div class="PostImage">
                    <div id="@post.PostID" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            @for (int i = 1; i <= post.Photos.Count; i++)
                            {
                                if (i == 0)
                                {
                                    <li data-target="#@post.PostID" data-slide-to="@i.ToString()" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#@post.PostID" data-slide-to="@i.ToString()"></li>
                                }
                            }
                        </ol>
                        <div class="carousel-inner">
                            @{int I = 0;}
                            @foreach (var image in post.Photos)
                            {
                                I++;
                                var active = I == 1 ? "active" : "";
                                <div class="carousel-item @active">
                                    <img class="d-block w-100 rounded" src="~/images/Uploads/PostImages/@image.Path">
                                </div>
                            }
                        </div>
                        
                        @if (post.Photos.Count > 1)
                        {
                            <a class="carousel-control-prev" href="#@post.PostID" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#@post.PostID" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        }
                        
                    </div>
                </div>
                <div class="PostInfo col-md-12 border border-primary">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="PostDescription col-md-8">
                                <div class="col-md-12 row">
                                    <h5><strong class="text-primary">Title:&nbsp;</strong></h5><p>@post.Title</p>
                                </div>
                                <div class="col-md-12 row">
                                    <h5><strong class="text-primary">Description:&nbsp;</strong></h5> <p>@post.Description</p>
                                </div>
                            </div>
                            <div class="PostAction col-md-4">
                                <div class="col-md-12">
                                    <h5><strong class="text-primary">Likes: </strong> @post.PostLike</h5>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <button class="btn btn-success" type="button" value="@post.PostID"><i class="fas fa-thumbs-up"></i> Like</button>
                                        </div>
                                        <div class="col-md-7">
                                            <button class="btn btn-primary" type="button"><i class="fas fa-comments"></i> Comments</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (post.FishInfo != null)
                    {
                        <div class="PostFishInfo col-md-12">
                            <h4><i class="fas fa-info-circle"></i> Info</h4>
                            <div class="PageBorder"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <P><strong class="text-primary"><i class="fas fa-map-marker"></i> Location: </strong>@post.Location</P>
                                    <P><strong class="text-primary"><i class="fas fa-calendar-alt"></i> Date/Time: </strong>@post.DateTime</P>
                                    <P><strong class="text-primary">Fish: </strong>@post.FishInfo.Name</P>
                                </div>
                                <div class="col-md-6">
                                    <P><strong class="text-primary"><i class="fas fa-arrows-alt-h"></i> Lenght: </strong>@post.FishInfo.Lenght cm</P>
                                    <P><strong class="text-primary"><i class="fas fa-weight"></i> Weight: </strong>@post.FishInfo.Weight kg</P>
                                    <P><strong class="text-primary"><i class="fas fa-utensils"></i> Bait: </strong>@post.FishInfo.Bait</P>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

